## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from pprint import pprint
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,75.20,94,11.50,moderate rain
1,1,Nanortalik,GL,60.1432,-45.2371,32.88,89,8.66,overcast clouds
2,2,Vannes,FR,47.8333,-2.5000,50.00,100,13.80,mist
3,3,Chandbali,IN,20.7833,86.7667,63.50,63,5.28,clear sky
4,4,Mataram,ID,-8.5833,116.1167,75.20,100,1.14,broken clouds

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?55
What is the maximum temperature you would like for your trip?90

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']>=min_temp) & (city_data_df['Max Temp']<=max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,75.20,94,11.50,moderate rain
3,3,Chandbali,IN,20.7833,86.7667,63.50,63,5.28,clear sky
4,4,Mataram,ID,-8.5833,116.1167,75.20,100,1.14,broken clouds
6,6,Mataura,NZ,-46.1927,168.8643,58.39,56,1.97,scattered clouds
7,7,Castro,BR,-24.7911,-50.0119,65.95,97,3.76,light rain

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Wind Speed             0
Current Description    0
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Wind Speed             0
Current Description    0
dtype: int64

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,75.20,moderate rain,-21.2000,-175.2000,
3,Chandbali,IN,63.50,clear sky,20.7833,86.7667,
4,Mataram,ID,75.20,broken clouds,-8.5833,116.1167,
6,Mataura,NZ,58.39,scattered clouds,-46.1927,168.8643,
7,Castro,BR,65.95,light rain,-24.7911,-50.0119,
8,Saint-Philippe,RE,78.80,clear sky,-21.3585,55.7679,
9,Butaritari,KI,80.71,overcast clouds,3.0707,172.7902,
10,Avarua,CK,82.40,light rain,-21.2078,-159.7750,
11,Hobart,AU,66.99,few clouds,-42.8794,147.3294,
16,Esperance,AU,55.40,clear sky,-33.8667,121.9000,

In [40]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params['location'] = f'{lat},{lng}'

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel_response = requests.get(search_url, params).json()


    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
    
        hotel_df.loc[index,'Hotel Name'] = hotel_response['results'][0]['name']
    
    except IndexError:
        
        print("No Hotel Found...skipping.")

hotel_df.head(10)

No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.
No Hotel Found...skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,75.20,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
3,Chandbali,IN,63.50,clear sky,20.7833,86.7667,KABITA HOMES
4,Mataram,ID,75.20,broken clouds,-8.5833,116.1167,Hotel Santika Mataram
6,Mataura,NZ,58.39,scattered clouds,-46.1927,168.8643,Ellie's Villa
7,Castro,BR,65.95,light rain,-24.7911,-50.0119,CHACARA BAILLY
8,Saint-Philippe,RE,78.80,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Butaritari,KI,80.71,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
10,Avarua,CK,82.40,light rain,-21.2078,-159.7750,Paradise Inn
11,Hobart,AU,66.99,few clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
16,Esperance,AU,55.40,clear sky,-33.8667,121.9000,Hospitality Esperance

In [41]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 682
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 366 non-null    object
 1   Country              366 non-null    object
 2   Max Temp             366 non-null    float64
 3   Current Description  366 non-null    object
 4   Lat                  366 non-null    float64
 5   Lng                  366 non-null    float64
 6   Hotel Name           366 non-null    object
dtypes: float64(3), object(4)
memory usage: 22.9+ KB

In [42]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [51]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}&#8457</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))